    div{
        background-color: blueviolet;
        
    }

    span{
        background-color: chocolate;
        
    }
    body{
        display:flex;
        justify-content: flex-start;
        align-items: center;
        height: 100vh;
    }



